<div class="table-responsive orcamentos scroll-grey">

  <h2>Legendarios</h2>

  <form class="needs-validation" novalidate>
    <div class="row g-3">

      <div class="col-sm-6">
        <label for="NameLegendario" class="form-label">{{ this.FormDadosLabels.NomeLegendario }}</label>
        <input type="text" class="form-control" id="NameLegendario" [formControl]="NameLegendario" placeholder="" value="" required>
      </div>

      <div class="col-sm-6">
        <label for="NumeroLegendario" class="form-label">{{ this.FormDadosLabels.NumeroLegendario }}</label>
        <input type="number" class="form-control" id="NumeroLegendario" [formControl]="NumeroLegendario" placeholder="" value="" required>
      </div>

    </div>

    <div>
      <mat-paginator itemsPerPageLabel="Itens por pagina" [length]="this.totaldeorcamentospararetornar"
        [pageSizeOptions]="[10, 50, 100]" aria-label="Selecione a pagina" (page)="PaginatorhandlePageEvent($event)">
      </mat-paginator>
    </div>

    <table mat-table [dataSource]="listaDadosLegendarios" class="table table-striped table-sm" multiTemplateDataRows>

      <ng-container matColumnDef="id_legendario">
        <th mat-header-cell *matHeaderCellDef>ID LEGENDARIO</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.id_legendario }}
        </td>
        <td mat-footer-cell *matFooterCellDef>TOTAL:</td>
      </ng-container>

      <ng-container matColumnDef="n_lgnd">
        <th mat-header-cell *matHeaderCellDef>NUMERO LEGENDARIO</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.n_lgnd }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>NOME</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.nome }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="rec">
        <th mat-header-cell *matHeaderCellDef>REC</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.rec }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>EMAIL</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.email }}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ listaDadosLegendarios.length }}</td>
      </ng-container>

      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef>CELULAR</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.celular }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="cadastro_pessoa">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.cadastro_pessoa }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="data_de_nascimento">
        <th mat-header-cell *matHeaderCellDef>DATA NASCIMENTO</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.data_de_nascimento }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="religiao">
        <th mat-header-cell *matHeaderCellDef>RELIGIAO</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.religiao }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="igreja">
        <th mat-header-cell *matHeaderCellDef>IGREJA</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.igreja }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="e_batizado">
        <th mat-header-cell *matHeaderCellDef>BATIZADO</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.e_batizado }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="frequanta_celula">
        <th mat-header-cell *matHeaderCellDef>FREQUENTA CELULA</th>
        <td class="position-relative" mat-cell *matCellDef="let element"
          (click)="onClickGridItenDadosTecnicos($event, element, 'produtosOrcamentoBuscados')">
          {{ element.frequanta_celula }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element" class="pointer" (click)="editar($event , element.n_lgnd)">
          <i class="far fa-edit p-2"></i>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="listaDadosLegendariosColumnsGrid; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: listaDadosLegendariosColumnsGrid"></tr>
    </table>
