<div [hidden]="Textovisivel" class="container">
  <h1>Descrição do evento </h1>
  <h2> O que é Legendários?</h2>

  <h6>Legendários é um programa abrangente que busca desafiar os homens a cumprirem os propósitos aos quais Deus os
    chamou. É exclusivo para HOMENS. </h6>

  <h6>No REC (Reto Extremo de Caráter) - Desafio Extremo de Caráter, o objetivo é motivar os homens a despertarem a
    identidade que Deus lhes deu no nascimento e dar-lhes um propósito para ativarem suas capacidades e alcançarem seu
    destino.</h6>

  <h6>Quando falamos sobre o homem alcançar seu propósito, não nos referimos a nada místico, e sim, realista, uma vez
    que o homem é projetado para dar o melhor de si à sua família e nação. Vivendo, dia após dia, vitórias e triunfos.
  </h6>

  <h3> O que é o REC? </h3>

  <h6>O REC (Desafio Extremo de Caráter) é um evento de 72 horas de total conexão com Deus, afastado da civilização,
    próximo à natureza. É uma oportunidade para os participantes se reconectarem com a identidade que o Criador
    projetou para os Homens. </h6>

  <h6> O primeiro REC foi realizado na Guatemala, em julho de 2015, com 109 participantes. Hoje, já participaram do
    evento mais de 23.000 homens nas Américas, que ao final são nomeados “Legendários”, porque a partir das
    experiências vivenciadas sabem que são capazes de impactar positivamente a história da sua família e da nação.
  </h6>

  <h6> DADOS SOBRE O REC</h6>

  <h6>Check-in: 09 de junho, quinta-feira, horário de saída e local a ser definido. </h6>

  <h6> Retorno: 12 de junho, domingo, na Central Luxemburgo - Rua Luiz Soares da Rocha, 37</h6>

  <h6> *A DATA DO EVENTO ESTÁ SUJEITA À ALTERAÇÃO DEVIDO AO MOMENTO QUE VIVEMOS.</h6>

  <h6> Local: faz parte do contexto do evento que o local não seja divulgado. </h6>

  <h6> Valor: R$ 1.199,00 parcelado em até 12X com juros de acordo com a tabela da Sympla. </h6>

  <h6> Pagamento em até 3x no cartão de credito sem juros pode ser feito pessoalmente na Central Sede (Rua Mar de
    Espanha, 570 - Santo Antônio) durante a semana das 8h as 17h. (A inscrição deve ser feita na hora, na Central
    Sede. NÃO REALIZAR A INSCRIÇÃO NO SITE).</h6>

  <h6> INFORMAÇÕES IMPORTANTES:</h6>

  <h6> Idade: de 18 anos a 65 anos.</h6>

  <h6>Cardiopatas graves não podem participar do evento. Em outros casos de doenças a organização poderá exigir a
    apresentação de atestado médico para a participação. </h6>

  <h3>ATENÇÃO - Politica de Cancelamento </h3>

  <h6>Solicitações até: </h6>

  <h6> Até 12 dias antes do evento - 100% de reembolso ou troca de titularidade.</h6>

  <h6> Até 8 dias antes do evento - 40% de reembolso. (sem troca de titularidade).</h6>

  <h6> A partir de 7 dias antes do evento, não realizamos reembolso ou troca de titularidade.</h6>



  <h2> O QUE LEVAR:</h2>

  <h6> 1. Mochila impermeável mínima 45L</h6>

  <h6>Peso máximo 15kg </h6>

  <h6>3. Capa impermeável para mochila </h6>

  <h6> 4. Identidade ou passaporte</h6>

  <h6> 5. Dados de Contato em caso de emergência.</h6>

  <h6> 6. Calças para hiking (não levar de lona)</h6>

  <h6> 7. Camisas de manga comprida e curta adequada ao clima da época</h6>

  <h6> 8. Chapéu ou boné</h6>

  <h6>9.Blusa/jaqueta impermeável </h6>

  <h6> 10. Óculos de sol</h6>

  <h6>11. Lenço grande </h6>

  <h6>12. Meias esportivas para caminhada </h6>

  <h6> 13. Tênis de montanha</h6>

  <h6>14. Botas de montanha </h6>

  <h6>15. Barraca para acampar de no máximo para 2 pessoas (Uso individual) </h6>

  <h6> 16. Saco para dormir (-5°C à +10ºC )</h6>

  <h6> 17. Coberta impermeável para dormir</h6>

  <h6> 18. Manta para colocar a bolsa de dormir</h6>

  <h6>19. Isolante térmico para dormir </h6>

  <h6> 20. Caneco de alumínio</h6>

  <h6> 21. Colher e garfo</h6>

  <h6>22. Dois vasilhames de 1L cada </h6>

  <h6> 23. Dois litros de água para a primeira noite</h6>

  <h6> 24. Toalha</h6>

  <h6> 25. Papel higiênico</h6>

  <h6> 26. Remédios com prescrição médica, de uso obrigatório.</h6>

  <h6>27. Vaselina e talco </h6>

  <h6> 28. Repelente de mosquitos</h6>

  <h6> 29. Manteiga de cacau para lábios</h6>

  <h6> 30. Protetor solar</h6>

  <h6> 31. Artigos de higiene pessoal</h6>

  <h6>32. Lanterna de cabeça </h6>

  <h6> 33. Baterias extras</h6>

  <h6>34. Bíblia </h6>

  <h6>35. Bastão de caminhada </h6>

  <h6> 36. Lona de 2x2 para refúgio de emergência</h6>

  <h6>37. Cinco sacos plásticos com fechamento tipo ziplock </h6>

  <h6>38. 250 gramas de cal. </h6>

  <h6> 39. Luvas de raspa.</h6>

  <hr class="my-4">

  <button [hidden]="Textovisivel" (click)="AlterarVisibilidade()" class="w-100 btn btn-primary btn-lg"
    type="submit">Realizar Inscrição</button>

  <hr class="my-4">

</div>
