<main>
  <div class="row" style="margin-top: 52px;"></div>
  <app-carrousel></app-carrousel>

  <div class="container marketing" style="margin-top: 40px">

    <!-- <div class="row">
      <app-carrosel-anuncios></app-carrosel-anuncios>
    </div> -->

    <hr class="featurette-divider" />

    <div class="row featurette">

      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="color:chocolate ;">
          AHU É MAIS QUE UM GRITO!
          <span class="text-muted">UM NOVO NÍVEL DE AMOR, HONRA E UNIDADE.</span>
        </h2>
        <p class="lead">Tudo começou há 7 anos, Julho de 2015, com 109 homens nas montanhas inspirados e motivados a
          viver histórias que valem a pena contar. Mas há um porquê? prefeito, "Os homens estão em dívida", estamos em
          dívida com a sociedade, com as mulheres, com nossas famílias, nossos filhos e nossos países.

          É daí que vem o movimento com o objetivo de trazer o herói caçador de volta a todas as famílias e
          restabelecer o papel do homem.</p>
      </div>
      <div class="col-md-5">
        <img src="./assets/Estadistica.png"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" eight="500"
          role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" ocusable="false" />
      </div>

    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Oração do legendário
          <span class="text-muted">Convocação Geral.</span>
        </h2>
        <p class="lead">Veja aqui.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="./assets/img/imganuncio2"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" eight="500"
          role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" ocusable="false" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          O proximo REC está chegando.
          <span class="text-muted">Faça sua inscrição.</span>
        </h2>
        <p class="lead">
          O REC (RETO EXTREMO DE CARATER) É um eventro extraordinário onde o
          Homem pode ser conectar com o Legendário Numero 1. AHU!!!
        </p>
      </div>
      <div class="col-md-5">
        <img src="./assets/imgTop/lalib_betin_marco.png"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" eight="500"
          role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" ocusable="false" />
      </div>
    </div>

    <hr class="featurette-divider" />
  </div>
</main>
